# example configuration.
# please modify for your requirements
id=dw-txs-
ssh_key_name=rsa
master=k8s-${id}master-01
os_user=centos
name=${dir##*/}
yaml=${dir}/${name}.yaml
template=${dir}/${name}-template.yaml
make_yaml_file=${dir}/.cfg/make-yaml
k8stestrepo=k8s-jenkins-cfg
hubuid=davidwalter0
k8srepo="git@${id}k8s-git-repo:${name}.git"
hubrepo="git@github.com:${hubuid}/${name}.git"
domain=cluster.local