#!/bin/bash

function make-yaml-stdio
{
    public=$(base64 -w 0 ~/.ssh/id_${ssh_key_name}.pub)
    private=$(base64 -w 0 ~/.ssh/id_${ssh_key_name})
    sed -r                                                      \
        -e "s,\{repo\}(.*),${k8stestrepo}\\1,g"                 \
        -e "s,authorized-keys:.*,authorized-keys: ${public},g"  \
        -e "s,id-:.*,${ssh_key_name}: ${private},g"          \
        -e "s,id-.pub:.*,${ssh_key_name}.pub: ${public},g"
}

function make-yaml-call
{
    local inyaml=${1}
    make-yaml-stdio < ${inyaml}
}

function make-yaml
{
    make-yaml-call ${inyaml}
}

