# example configuration.
# please modify for your requirements
export id=dw-txs-

export debug=0
export ssh_key_type=rsa
export master=k8s-${id}master-01
export os_user=centos
export name=${dir##*/}
export yaml=${dir}/${name}.yaml
export inyaml=${dir}/${name}-template.yaml
export make_yaml_file=${dir}/.cfg/make-yaml
export k8stestrepo=k8s-jenkins-cfg
export hubuid=davidwalter0
# default repo name is the subdirectory of the project
export k8srepo="git@${id}k8s-git-repo:${name}.git"
export hubrepo="git@github.com:${hubuid}/${name}.git"

export domain=cluster.local